################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/RecipeListGui
/.gitignore
/RecipeListGui/bin/Debug/net6.0
/RecipeListGui/obj
/.vs
/.gitignore
/.gitignore
